.container {
  text-align: center;
}

#panels {
  text-align: center;
}

#pan-1 {
  border: 1px solid black;
  color: transparent;
  width: 200px;
  height: 200px;
  display: inline-block;
  background: darkgreen;
}

#pan-2 {
  border: 1px solid black;
  color: transparent;
  width: 200px;
  height: 200px;
  display: inline-block;
  background: darkred;
  
}

#pan-3 {
  border: 1px solid black;
  color: transparent;
  width: 200px;
  height: 200px;
  display: inline-block;
  background: goldenrod;
}

#pan-4 {
  border: 1px solid black;
  color: transparent;
  width: 200px;
  height: 200px;
  display: inline-block;
  background: darkblue;
}